* {
    padding: 0;
    margin: 0;
}
#container {
    width: 200px;
    border-radius: 10px;
    background-color: rgb(64, 74, 75);
    border: 1px solid rgb(180, 175, 175);
    position: absolute;
    left: 43%;
    top: 50%;
}
#display {
    margin: 10px;
    width: 80%;
    border-radius: 10px;
    padding: 10px;
    
}
.button {
    width: 45px;
    height: 45px;
    border-radius: 10px;
    font-size: 15px;
    margin: 5px;
    background-color: rgb(46, 43, 43);
    color: rgb(114, 86, 240);
    box-shadow: 5px 3px 5px rgba(5, 135, 139, .7);
    
}
.button_container {
    display: flex;
    justify-content: center;
    margin: 10px;
    flex-wrap: wrap;
}
.button_c {
    color: rgb(231, 13, 57);
    width: 45px;
    height: 45px;
    border-radius: 10px;
    font-size: 20px;
    margin: 5px;
    background-color: rgb(46, 43, 43);
    box-shadow: 5px 3px 5px rgba(5, 135, 139, .7);
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    }
.button_c:hover{
   transform: translate (2);
   color: rgb(5, 135, 139);
}
body {
    height: 1024px;
    background-image: url(background\ img.jpeg);
    background-repeat: no-repeat;
} 
@media screen and (max-width: 400px)
    {
        #container {
            position: relative;
            top: 10%;
            left: 10%;
        }
}
